.book-label {
  display: inline-block;
  font-weight: bold;
  width: 90px;
}

label.short {
  display: inline-block;
  width: 90px;
}

input.short {
  width: 60px;
}

.quantity-box {
  width: 30px;
}

.book-info {
  color: black;
}

.align-right {
  float: right;
}

.user-info-box {
  display: inline-block;
  vertical-align: top;
}
