
div.box {
  padding: 20px;
}

div.thin-box {
  padding: 10px;
  display: inline;
}

.error-message {
  color: #dd2222;
}

.centered {
  width: 60%;
  margin: 0px auto;
}

.centered-input {
  margin: 0px auto;
  display: block;
}

.right-aligned {
  text-align: right;
}

div.bar {
  width: 100%;
  color: #333335;
}

a.no-decoration:link, a.no-decoration:visited, a.no-decoration:hover, a.no-decoration:active {
  color: inherit;
  text-decoration: none;
}

#header-replacer.expanded {
  height: 120px;
}

#short-name {
  transition: all 0.2s;
  opacity: 0.0;
  display: inline;
  font-weight: bold;
}

#short-name.display {
  opacity: 1.0;
}

#header {
  transition: all 0.4s;
  z-index: 2;
  background-color: #f2f2f2;
  height: 120px;
  border-bottom: solid 2px #e0e0e0;
}

#header.sticky {
  top: -76px;
  position: fixed;
}

#title {
  float: left;
  text-decoration: none;
}

#user-info {
  float: right;
  margin: 33px 20px 10px;
}

#footer {
  color: #4C668C;
  background-color: #f2f2f2;
  border-top: solid 2px #e0e0e0;
  position: absolute;
  bottom: 0px;
  height: 45px;
}

#footer-data {
  top: 10px;
}

.content {
  padding-bottom: 45px;
}

#container {
  position: relative;
  min-height: 100%;
}

#search-bar {
  width: 30%;
  background-color: white;
}

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: white;
  font-family: "Trebuhet MS", Helvetica, sans-serif;
}

input {
  border: 2px solid black;
  background: none;
  padding: 4px 5px;
  height: 15px;
}

input[type="submit"]:disabled, input[type="button"]:disabled {
  background-color: #cccccc;
  color: #999999;
  cursor: default;
}

a.button {
  padding: 5px;
}

.button {
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  background: none;
  border: none;
  padding: 5px 10px 22px;
  vertical-align: middle;
}

.big-button {
  padding: 10px 20px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.green {
  background-color: #75C101;
  color: #D4F6A1;
  border-color: #214500;
}

.green:hover {
  background-color: #D4F6A1;
  color: #75C101;
}

.blue {
  background-color: #0F398B;
  color: #96ADDB;
  border-color: #031633;
}

.blue:hover {
  background-color: #96ADDB;
  color: #0F398B;
}

.purple {
  background-color: #980177;
  color: #E193D0;
  border-color: #250133;
}

.purple:hover {
  background-color: #E193D0;
  color: #980177;
}

div {
  margin: 0px;
  padding: 0px;
  position: relative;
}

table, tr, th, td {
  border-collapse: collapse;
  border: 1px solid #0F398B;
  padding: 8px 16px;
}

th {
  background-color: #0F398B;
  color: #96ADDB;
}

td {
  color: #0F398B;
}

div.form-row {
  padding: 5px;
}

.form-row > label {
  min-width: 140px;
  display: inline-block;
}

.disabled-input {
  border: none;
  color: black;
  font-weight: bold;
}

.wide {
  width: 100%;
}

.glow-link {
  color: #0F398B;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
  text-decoration: none;
}

.glow-link:hover {
  color: #75C101;
}


/*
	References

	color scheme: http://paletton.com/#uid=53F160kllll7qz6enrbsjfvEN9D
	footer placement: http://matthewjamestaylor.com/blog/keeping-footers-at-the-bottom-of-the-page

*/
