
div.box {
  padding: 10px;
}

div.bar {
  width: 100%;
  /*background-color: #142E54;/*#080B3B;*/
  color: #333335;/*#8B9AB1;*/
}

#header {
  /*border-bottom: 2px solid #031633;*/
  /*box-shadow: 0px 0px 2px 2px black;*/
}

#footer {
  color: #4C668C;
  position: absolute;
  bottom: 0px;
  height: 40px;
}

.content {
  padding-bottom: 40px;
}

#container {
  position: relative;
  min-height: 100%;
}

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

input {
  border: 2px solid black;
  background: none;
  padding: 4px 5px;
  height: 15px;
}

.button {
  text-decoration: none;
  font-weight: bold;
  background: none;
  border: none;
  padding: 5px 10px 22px;
  vertical-align: middle;
}

.big-button {
  padding: 10px 20px;
  font-weight: bold;
  text-decoration: none;
}

.green {
  background-color: #75C101;
  color: #D4F6A1;
  border-color: #214500;
}

.green:hover {
  background-color: #D4F6A1;
  color: #75C101;
}

.blue {
  background-color: #0F398B;
  color: #96ADDB;
  border-color: #031633;
}

.blue:hover {
  background-color: #96ADDB;
  color: #0F398B;
}

.purple {
  background-color: #980177;
  color: #E193D0;
  border-color: #250133;
}

.purple:hover {
  background-color: #E193D0;
  color: #980177;
}





div {
  margin: 0px;
}

/*
	References

	color scheme: http://paletton.com/#uid=53F160kllll7qz6enrbsjfvEN9D
	footer placement: http://matthewjamestaylor.com/blog/keeping-footers-at-the-bottom-of-the-page

*/